{% extends 'layout.jinja2' %}

{% block title %}Home{% endblock %}

{% block body %}
        <script type="text/javascript">
            var delete_plan = function(plan_id, csrf_token){
                $.ajax({
                    'type': 'DELETE',
                    'url': '{{ request.route_path('plan') }}?plan_id=' + plan_id + '&amp;csrf_token=' + csrf_token,
                    'success': function (data){
                        $('#result_modal .modal-body').text(data.message);
                        $('#result_modal').modal();
                    },
                    'dataType': 'json',
                });
            }
            var done_plan = function(plan_id, csrf_token){
                $.ajax({
                    'type': 'PUT',
                    'url': '{{ request.route_path('plan') }}',
                    'data': 'plan_id=' + plan_id + '&amp;done=true&amp;csrf_token=' + csrf_token,
                    'success': function (data){
                        $('#result_modal .modal-body').text(data.message);
                        $('#result_modal').modal();
                    },
                    'dataType': 'json',
                });
            }
            $(function(){
                $('#deform').submit(function(){
                    $.post(
                        '{{ request.route_path('plan') }}',
                        $('#deform').serialize(),
                        function(data){
                            $('#result_modal .modal-body').text(data.message);
                            $('#result_modal').modal();
                        }, 'json');
                    return false;
                });
            });
        </script>
        {% if request.user %}
            <div class="row-fluid">
                <div class="span9">
                    {% if day_for_new_plan %}
                    <div class="row-fluid">
                        <div class="span12">
                            <h2>今日やりたいこと</h2>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>やりたいこと</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for plan in list_of_new_plan.plans %}
                                    {% if not plan.deleted %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-danger" onclick="delete_plan('{{ plan.id }}', '{{ request.session.get_csrf_token() }}')">&times;</button>&nbsp;
                                            {{ plan.subject }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                    <tr>
                                        <td colspan="2">
                                            <h2>追加する</h2>
                                            {{ add_plan_form|safe }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}

                    {% if day_for_evaluate_plan %}
                    <div class="row-fluid">
                        <div class="span12">
                            <h2>今日やりたかったこと</h2>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>やりたかったこと</th>
                                        <th>結果</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for plan in list_of_evaluate_plan.plans %}
                                    {% if not plan.deleted %}
                                    <tr>
                                        <td>
                                            {% if plan.done %}
                                            <span class="label label-success">実行済</span>
                                            {% else %}
                                            <span class="label label-warning">未実行</span>
                                            {% endif %}
                                            {{ plan.subject }}
                                        </td>
                                        <td>
                                            {% if plan.done %}
                                            -
                                            {% else %}
                                            <button class="btn btn-success" onclick="done_plan('{{ plan.id }}', '{{ request.session.get_csrf_token() }}')">実行できた！</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="span3">
                    <h2>過去の記録</h2>
                    <table class="table table-bordered" id="calendar">
                        <caption>{{ calendar[0].year }}年{{ calendar[0].month }}月</caption>
                        <thead>
                            <tr>
                                <th>日</th>
                                <th>月</th>
                                <th>火</th>
                                <th>水</th>
                                <th>木</th>
                                <th>金</th>
                                <th>土</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for week in calendar[1] %}
                            <tr>
                                {% for day in week %}
                                <td>
                                    {% if  calendar[0] <= day <= calendar[2] %}
                                    {% if day <= today_on_history %}
                                    <a href="{{ request.route_path('history', date=day.strftime('%Y-%m-%d')) }}">{{ day.day }}</a>
                                    {% else %}
                                    {{ day.day }}
                                    {% endif %}
                                    {% else %}
                                    &nbsp;
                                    {% endif %}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal hide fade" id="result_modal">
                <div class="modal-header">
                    <a onclick="javascript:(function(){$('#result_modal').modal('hide');location.reload();})();" class="close">&times;</a>
                    <h3>実行結果</h3>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-large btn-primary" onclick="javascript:(function(){$('#result_modal').modal('hide');location.reload();})();">閉じる</button>
                </div>
            </div>
        {% else %}
            <div class="row-fluid">
                <div class="span12">
                    <div class="hero-unit">
                       <h1>next ToDo</h1>
                        <p>仕事帰りや学校帰りにやりたい事を登録するサービス</p>
                    </div>
                </div>
            </div>
        {% endif %}
{% endblock %}
