{% extends "layout.jinja2" %}

{% block title %}Join!{% endblock %}

{% block body %}
        <span class="row-fluid">
            <span class="span12">
                {{ form|safe }}
            </span>
        </span>
{% endblock %}
