{% extends "layout.jinja2" %}

{% block title %}Login!{% endblock %}

{% block body %}
            <div class="row-fluid">
                <div class="span12">
                    <h1>Login!</h1>
                    {{ form|safe }}
                </div>
            </div>
{% endblock %}
