{% extends "layout.jinja2" %}

{% block title %}Logout{% endblock %}

{% block body %}
            <span class="row-fluid">
                <span class="span12">
                    <h1>Logout</h1>
                    <p>ログアウトしました</p>
                </span>
            </span>
{% endblock %}
